<main class="hero min-h-screen justify-start ps-4">
  <div class="hero-content flex-col items-start gap-20">
    <div class="flex flex-col gap-7">
      <div>
        <h1 class="text-5xl font-extralight text-accent" i18n>
          Assalam Alikum
        </h1>
        <h2 class="text-6xl font-extralight text-accent" i18n>
          I am
          <span class="text-primary font-bold font-montserrat"
            >Moamen Khadra</span
          >
        </h2>
      </div>
      <div class="flex gap-6 text-2xl font-semibold">
        <div i18n>Software Engineer</div>
        <div i18n>Full-stack Developer</div>
        <div i18n>UX/UI Designer</div>
      </div>
      <p class="text-xl max-w-4xl" i18n>
        A passionate <em class="font-medium">Software Engineer</em> with a flair
        for <em class="font-medium">innovative problem-solving</em>. From
        building intuitive web apps to crafting seamless user interfaces, I’m
        always up for a challenge. Whether it's developing dynamic websites or
        creating impactful backend systems, I bring
        <em class="font-medium">creativity</em>,
        <em class="font-medium">precision</em>, and
        <em class="font-medium">growth</em> to every project I work on.
      </p>
      <p class="text-xl max-w-4xl" i18n>
        ⚒ ⚙ Let’s build something amazing together! ⚙ ⚒
      </p>
    </div>
    <div class="flex">
      <button class="btn btn-outline uppercase" routerLink="/portfolio" i18n>
        Showcase my work
      </button>
      <div class="divider divider-horizontal uppercase" i18n>or</div>
      <button class="btn btn-primary uppercase" routerLink="/contact" i18n>
        Get Started
      </button>
    </div>
  </div>
</main>
