<main
  class="flex flex-col p-8 gap-16 text-center items-center backdrop-blur-sm"
  i18n
>
  <div>
    <h1 class="text-4xl mb-4">Hello, I’m Moamen Khadra!</h1>
    <p class="text-lg max-w-4xl">
      I’m a software engineer with a passion for building scalable,
      user-friendly applications. I specialize in full-stack development and
      love tackling new challenges while learning cutting-edge technologies.
    </p>
  </div>
  <div class="join join-vertical w-full max-w-4xl">
    <div class="collapse collapse-plus join-item border-base-300 border">
      <input type="radio" name="my-accordion-4" checked="checked" />
      <h2 class="collapse-title text-2xl font-medium">My Journey</h2>
      <div class="collapse-content">
        <p class="text-lg max-w-4xl">
          I am currently pursuing a bachelor's degree in Electronics and
          Communications Engineering from Alexandria University in Egypt, where
          I developed a strong foundation in algorithms and software design.
          Over the past few years, I’ve gone under several intense programmes
          such as The ALX Software Engineering Programme as a Full-stack
          Developer with a focus on Back-end Development, where I honed my
          skills to the max.
        </p>
      </div>
    </div>
    <div class="collapse collapse-plus join-item border-base-300 border">
      <input type="radio" name="my-accordion-4" />
      <h2 class="collapse-title text-2xl font-medium capitalize">What I do</h2>
      <div class="collapse-content">
        <h3 class="text-xl">I specialize in</h3>
        <ul class="text-lg max-w-4xl">
          <li>
            <span class="font-semibold">Frontend</span>: HTML/CSS, JavaScript,
            TypeScript, Angular
          </li>
          <li>
            <span class="font-semibold">Backend</span>: .NET, Node.js, Python,
            Flask
          </li>
          <li>
            <span class="font-semibold">DevOps</span>: Docker, Git, Bash, AWS
          </li>
        </ul>
        <p class="text-lg max-w-4xl">
          I’m passionate about solving real-world problems and creating
          impactful solutions.
        </p>
      </div>
    </div>
    <div class="collapse collapse-plus join-item border-base-300 border">
      <input type="radio" name="my-accordion-4" />
      <h2 class="collapse-title text-2xl font-medium capitalize">
        Why I love what I do
      </h2>
      <div class="collapse-content">
        <p class="text-lg max-w-4xl">
          Coding allows me to combine creativity and problem-solving to build
          things that matter. Whether it’s optimizing a system or designing a
          new feature, I thrive on the challenges and rewards of software
          engineering.
        </p>
      </div>
    </div>
    <div class="collapse collapse-plus join-item border-base-300 border">
      <input type="radio" name="my-accordion-4" />
      <h2 class="collapse-title text-2xl font-medium capitalize">
        Fun facts about me
      </h2>
      <div class="collapse-content">
        <ul class="text-lg max-w-4xl">
          <li>I’m an avid hiker and love exploring national parks.</li>
          <li>I play the guitar and enjoy covering my favorite songs.</li>
          <li>I’m a huge fan of sci-fi movies and board games.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-4 mb-8">
    <h2 class="text-3xl">Let’s Connect!</h2>
    <p class="text-lg max-w-4xl">
      If you’d like to collaborate or just chat about tech, feel free to
    </p>
    <button class="btn btn-primary uppercase my-4" routerLink="/contact">
      contact me
    </button>
  </div>
</main>
